<div class="footer" id="contact">
  <div class="container footer">
    <div class="item-2022">
      <ul>
        <li>
          <p> ® 2022 Teddy Muller</p>
        </li>
      </ul>
    </div>
    <div class="item-contact">
      <ul>
        <li><a href="mailto:muller.teddy@icloud.com?subject=Contact Portfolio">Send me an email</a></li>
        <li><a href="https://github.com/M-Teddy/" target="_blank"><i class="fab fa-github"></i></a></li>
        <%# <li><a href="#" id="insta"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" class="facebook"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li> %>
        <li><a href="https://www.linkedin.com/in/teddy-muller/" class="linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
