<div class="nav">
  <div class="item-ted">
    <ul>
      <li>
        <p> ® 2022 Teddy Muller</p>
      </li>
    </ul>
  </div>
  <div class="item">
    <ul>
      <li><a href="mailto:muller.teddy@icloud.com?subject=Contact Portfolio">Send me an email</a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#" id="insta"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#" class="facebook"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
