<header>
  <nav class="nav container">
    <div class="item-ted">
      <ul>
        <li><a href="#teddymuller" class="bouton"><strong>Teddy Muller</strong></a></li>
      </ul>
    </div>
    <div class="item">
        <ul>
          <li><a href="#portfolio" class="bouton"><strong>Portfolio</strong></a></li>
          <li><a href="#kindwords" class="bouton"><strong>Kind Words</strong></a></li>
          <li><a href="#work" class="bouton"><strong>Work?</strong></a></li>
          <li><a href="#contact" class="bouton"><strong>Contact</strong></a></li>
      </ul>
    </div>
  </nav>
</header>
