<header>
  <nav class="nav-main">
    <div>
        <ul>
        <li><a href="#teddymuller" class="bouton">Teddy Muller</a></li>
      </ul>
    </div>
    <div>
        <ul class ="list-inline">
          <li><a href="#portfolio" class="bouton">Portfolio</a></li>
          <li><a href="#kindwords" class="bouton">Kind Words</a></li>
          <li><a href="#about" class="bouton">About</a></li>
          <li><a href="#contact" class="bouton">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
