<header class="position">
  <nav class="nav">
  <div class="container nav">
    <div class="item-ted">
      <ul>
        <li><a href="#teddymuller" class="bouton"><strong>Teddy Muller</strong></a></li>
      </ul>
    </div>
    <div class="item item--menu">
      <button class="btn-menu"><i class="fa-sharp fa-solid fa-bars"></i></button>
        <ul class="menu">
          <li><a href="#portfolio" class="bouton"><strong>Portfolio</strong></a></li>
          <li><a href="#kindwords" class="bouton"><strong>Kind Words</strong></a></li>
          <li><a href="#work" class="bouton"><strong>Work?</strong></a></li>
          <li><a href="mailto:muller.teddy@icloud.com?subject=Contact Portfolio" class="bouton"><strong>Contact</strong></a></li>
      </ul>
    </div>
    </div>
  </nav>
</header>

<script>
document.querySelector('.btn-menu').addEventListener('click', (e) => {
  e.preventDefault();
  document.querySelector('.menu').classList.toggle('menu-open');
})
</script>
