<div class="" id="teddymuller">
  <div class="picture-tm container">
    <h2><strong>Hello! I'm Teddy.</strong></h2>
    <h5>Full Stack Junior developer with a preference<br> for the front end and an attraction for design.</h5>
    <a href="#contact" class="">Curious to know more?</a>
  </div>
</div>
<div class="container" id="portfolio">
  <h1><strong>Portfolio</strong></h1>
  <h4>Check it out</h4>
  <hr>
  <ul class="cards">
    <div class="card">
      <li class=""><a href="http://www.myinvest.shop" class="" target="_blank"><img src="https://media1.thehungryjpeg.com/thumbs2/ori_44683_d83059469a5c665d62121b6d6bc115f487e6ea31_portfolio-design.jpg" alt="" class="card__img card__img--full"></a></li>
      <h6><a href="http://www.myinvest.shop" class="" target="_blank"><strong>My invest</strong></a></h6>
    </div>
    <div class="card">
      <li class=""><a href="http://www.myinvest.shop" class="" target="_blank"><img src="https://media1.thehungryjpeg.com/thumbs2/ori_44683_d83059469a5c665d62121b6d6bc115f487e6ea31_portfolio-design.jpg" alt="" class="card__img card__img--full"></a></li>
      <h6><a href="http://www.myinvest.shop" class="" target="_blank"><strong>My invest</strong></a></h6>
    </div>
    <div class="card">
      <li class=""><a href="http://www.myinvest.shop" class="" target="_blank"><img src="https://media1.thehungryjpeg.com/thumbs2/ori_44683_d83059469a5c665d62121b6d6bc115f487e6ea31_portfolio-design.jpg" alt="" class="card__img card__img--full"></a></li>
      <h6><a href="http://www.myinvest.shop" class="" target="_blank"><strong>My invest</strong></a></h6>
    </div>
    <div class="card">
      <li class=""><a href="http://www.myinvest.shop" class="" target="_blank"><img src="https://media1.thehungryjpeg.com/thumbs2/ori_44683_d83059469a5c665d62121b6d6bc115f487e6ea31_portfolio-design.jpg" alt="" class="card__img card__img--full"></a></li>
      <h6><a href="http://www.myinvest.shop" class="" target="_blank"><strong>My invest</strong></a></h6>
    </div>
  </ul>
</div>
<div class="container" id="kindwords">
  <div>
    <h1><strong>Kind Words</strong></h1>
    <h4>Some nice things smart people I’ve worked with have to say about me</h4>
    <hr>
  </div>
  <div>
    <ul class="cards-kind">
      <div class="card-kind">
        <li class="card-kind-int">
          <h4>“Ted is hands down the best colleague and friend I've ever worked with. She puts an insane amount of passion and energy into every single thing she does. She's constantly spearheading new projects that blend creativity and business results. From leading Unbounce's event strategy, defining their international strategy, taking on partnerships, to managing a large team - there's nothing this badass woman can't do.”</h4>
          <div class="card-kind-info">
            <img src="https://ca.slack-edge.com/T02NE0241-U023HKQQCCS-8af6e4dca667-512" alt="" class="avatar-xlarge">
            <h6>Caroline Bayle <br> City Manager Nice</h6>
          </div>
        </li>
      </div>
      <div class="card-kind">
        <li class="card-kind-int">
          <h4>“Ted is hands down the best colleague and friend I've ever worked with. She puts an insane amount of passion and energy into every single thing she does. She's constantly spearheading new projects that blend creativity and business results. From leading Unbounce's event strategy, defining their international strategy, taking on partnerships, to managing a large team - there's nothing this badass woman can't do.”</h4>
          <div class="card-kind-info">
            <img src="https://ca.slack-edge.com/T02NE0241-U023HKQQCCS-8af6e4dca667-512" alt="" class="avatar-xlarge">
            <h6>Caroline Bayle <br> City Manager Nice</h6>
          </div>
        </li>
      </div>
      <div class="card-kind">
        <li class="card-kind-int">
          <h4>“Ted is hands down the best colleague and friend I've ever worked with. She puts an insane amount of passion and energy into every single thing she does. She's constantly spearheading new projects that blend creativity and business results. From leading Unbounce's event strategy, defining their international strategy, taking on partnerships, to managing a large team - there's nothing this badass woman can't do.”</h4>
          <div class="card-kind-info">
            <img src="https://ca.slack-edge.com/T02NE0241-U023HKQQCCS-8af6e4dca667-512" alt="" class="avatar-xlarge">
            <h6>Caroline Bayle <br> City Manager Nice</h6>
          </div>
        </li>
      </div>
      <div class="card-kind">
        <li class="card-kind-int">
          <h4>“Ted is hands down the best colleague and friend I've ever worked with. She puts an insane amount of passion and energy into every single thing she does. She's constantly spearheading new projects that blend creativity and business results. From leading Unbounce's event strategy, defining their international strategy, taking on partnerships, to managing a large team - there's nothing this badass woman can't do.”</h4>
          <div class="card-kind-info">
            <img src="https://ca.slack-edge.com/T02NE0241-U023HKQQCCS-8af6e4dca667-512" alt="" class="avatar-xlarge">
            <h6>Caroline Bayle <br> City Manager Nice</h6>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
<div class="picture-band" id="work">
  <h5><strong>Have you got an project?</strong></h5>
  <a href="https://www.malt.fr/profile/teddymuller" class="btn-malt" target="_blank">Malt!</a>
</div>
