<div id="teddymuller">
  <h2>Hello! I'm Teddy.</h2>
  <h5>Full Stack Junior developer with a preference for the front end and an attraction for design.</h5>
  <a href="#contact" class="">Curious to know more?</a>
</div>
<div id="portfolio">
  <h1>Portfolio</h1>
  <h4>Check it out</h4>
  <ul>
    <li><a href="http://www.myinvest.shop" class="" target="_blank">My Invest</a></li>
    <li><a href="http://www.myinvest.shop" class="" target="_blank">My Invest</a></li>
    <li><a href="http://www.myinvest.shop" class="" target="_blank">My Invest</a></li>
    <li><a href="http://www.myinvest.shop" class="" target="_blank">My Invest</a></li>
  </ul>
</div>
<div id="kindwords">
  <div>
    <h1>Kind Words</h1>
    <h4>Some nice things smart people I’ve worked with have to say about me</h4>
  </div>
  <div>
    <ul>
      <li>
        <h4>“Ted is hands down the best colleague and friend I've ever worked with. She puts an insane amount of passion and energy into every single thing she does. She's constantly spearheading new projects that blend creativity and business results. From leading Unbounce's event strategy, defining their international strategy, taking on partnerships, to managing a large team - there's nothing this badass woman can't do.”</h4>
        <img src="" alt="">
        <h6>Name</h6>
        <h6>Statut</h6>
      </li>
      <li>
        <h4>“Ted is hands down the best colleague and friend I've ever worked with. She puts an insane amount of passion and energy into every single thing she does. She's constantly spearheading new projects that blend creativity and business results. From leading Unbounce's event strategy, defining their international strategy, taking on partnerships, to managing a large team - there's nothing this badass woman can't do.”</h4>
        <img src="" alt="">
        <h6>Name</h6>
        <h6>Statut</h6>
      </li>
      <li>
        <h4>“Ted is hands down the best colleague and friend I've ever worked with. She puts an insane amount of passion and energy into every single thing she does. She's constantly spearheading new projects that blend creativity and business results. From leading Unbounce's event strategy, defining their international strategy, taking on partnerships, to managing a large team - there's nothing this badass woman can't do.”</h4>
        <img src="" alt="">
        <h6>Name</h6>
        <h6>Statut</h6>
      </li>
      <li>
        <h4>“Ted is hands down the best colleague and friend I've ever worked with. She puts an insane amount of passion and energy into every single thing she does. She's constantly spearheading new projects that blend creativity and business results. From leading Unbounce's event strategy, defining their international strategy, taking on partnerships, to managing a large team - there's nothing this badass woman can't do.”</h4>
        <img src="" alt="">
        <h6>Name</h6>
        <h6>Statut</h6>
      </li>
    </ul>
  </div>
</div>
<div id="about">
</div>
