
hr{
  width: 80px;
  size: 10px;
  margin-top: 30px;
}

.cards-kind {
  font-family: "Proxima Nova", sans-serif;
  flex-grow: 1;
  display: grid;
  padding-left: 0;
  gap: 40px;
  h6{
    padding-top: 20px;
    text-align: center;
  }
  a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    &:hover{
      transition: 400ms;
      color: #EC2E57;
    }
  }

  @media screen and (min-width: 320px) {
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }
}
  .card-kind{
    font-family: "Proxima Nova", sans-serif;
    background-size: cover;
    background-position: center;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    color: rgb(0, 0, 0);

    border: solid 5px #fae9d2;
    @media screen and (max-width: 960px) {
      height: auto;
    }
  }

  .card-kind-int {
    font-family: "Proxima Nova", sans-serif;
    background-size: cover;
    background-position: center;
    padding: 30px;
    align-items: center;
    overflow: hidden;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    transition: box-shadow 250ms;

    a {
      color: black;
      :hover{
        opacity: 0.8;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
      }
    }

    p {
      line-height: 35px;
      font-size: 20px;
      font-family: "Proxima Nova", sans-serif;
    }

    @media screen and (max-width: 960px) {
      padding: 20px;
      height: auto;
      width: auto;
    }
}
.card-kind-info{
  display:flex;
  margin-top: 20px;
  h5{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;
  }
}
