.nav {
  font-family: "Proxima Nova", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px 0;
  background-color: #F8F9FA;
}
.item-ted {
  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  li{
    margin-right: 30px;
    a{
      text-decoration: none;
      font-size: 20px;
      color: #000000;
      &:hover{
        transition: 400ms;
        color: #EC2E57;
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
}
.item {
  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  li{
    margin-right: 30px;
    a{
      text-decoration: none;
      font-size: 20px;
      color: #1AABAC;
      &:hover{
        transition: 400ms;
        color: #EC2E57;
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
  .btn-menu{
    color: #1AABAC;
    @media screen and (min-width: 768px){
    display: none;
    }
  }
  .menu{
    list-style: none;
    display: flex;
    padding: 0;
    @media screen and (max-width: 768px){
      display: none;
      }
    li{
      margin: 0 10px;
    }
  }
  .menu-open {
    display: block;
    li{
      color: white;
    }
  }
  // .menu li{
  //   margin: 0 10px;
  // }

  // .menu-open li {
  //   color: white;
  // }
}
.position{
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
