.portfolio{
  &__title{
    margin-top: 80px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #EC2E57
  }
  &__check{
    margin-top: 20px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 20px;
  }
}

hr{
  width: 80px;
  size: 10px;
  margin-top: 30px;
  font-weight: bold;//comment le rendre bold?
}

.cards {
  font-family: "Proxima Nova", sans-serif;
  flex-grow: 1;
  display: grid;
  grid-gap: 30px;
  padding: 20px 20px 20px 0;

  @media screen and (min-width: 320px) {
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }

}

  .card {
    font-family: "Proxima Nova", sans-serif;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    transition: box-shadow 250ms;
    border: none;
    &__title{
      margin: 20px;
      font-size: 10px;
      font-weight: bold;
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 400px;
    }

    a{
      text-decoration: none;
      font-size: 20px;
      color: #000000;
      display: inline-block;
      width: 100%;
      &:hover{
        transition:all 400ms;
        color: #EC2E57;
        // opacity: 1;
      }
    }
  }
